<html lang="en">
  <head>
    <title>WeatherApp</title>
    <link rel="icon" href="img/weather.png">>
    <link rel="stylesheet" href="./css//styles.css" />
  </head>
  <body>

    <div class="main-content">
      {{>header}}

      <p>This site uses data from mapbox.com and darkaky.net</p>

      
    </div>
    

    {{>footer}}
  </body>
</html>