<html lang="en">
  <head>
    <title>WeatherApp</title>
    <link rel="icon" href="img/weather.png">>
    <link rel="stylesheet" href="./css//styles.css" />
  </head>
  <body>

    <div class="main-content">
      {{>header}}

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum magni ut incidunt quia mollitia exercitationem, harum consequuntur ad excepturi officia dignissimos nulla ullam quam quas, recusandae debitis quis error minima!</p>
    
    <img class="portrait" src={{img}} alt="my pic" />
    </div>
    

    {{>footer}}
  </body>
</html>