<html lang="en">
  <head>
    <title>WeatherApp</title>
    <link rel="icon" href="img/weather.png">>
    <link rel="stylesheet" href="./css//styles.css" />
    <script src="./js/app.js" defer></script>
   
  </head>

  <body>
    <div class="main-content">
      {{>header}}

      <p>Use WeatherApp to get today's weather anywhere you want</p>

      <form >
        <input type="text" placeholder="Location">
        <button>search</button>
      </form>
<p id="message1"></p>
<img  id="img1" src="" alt="">
<p id="message2"></p>

    </div>
   
   {{>footer}}
  </body>
</html>